/* Reset default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Set body font and background */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Set header styles */
header {
    text-align: center;
    background-color: #090580;
    color: #fff;
    padding: 20px;
}

header h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.circle-image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

header img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section#about p {
    border: 2px solid #333;
    padding: 10px;
}

/* Set section styles */
section {
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
    flex-grow: 1;
}

section#landing {
    background-color: #90caf9; /* Blue */
}

section#about {
    background-color: #ba68c8; /* Violet */
}

section#projects {
    background-color: #90caf9; /* Blue */
}

section#contact {
    background-color: #ba68c8; /* Violet */
}

.project-images {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.project-images img {
    width: 300px;
    height: auto;
}

.project img {
    width: 300px;
    height: auto;
}

.project h4 {
    margin-top: 10px;
}

section h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

/* Set form styles */
form {
    margin-top: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 15%;
    padding: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

/* Set footer styles */
footer {
    text-align: center;
    background-color: #555;
    color: #fff;
    padding: 10px;
}
